<div class="d-flex flex-column p-1">
  <div class="card">
    <div
      class="
        card-header
        text-center
        align-items-center
        d-flex
        justify-content-between
        bg-dark
        text-light
        p-1
      "
    >
      <a class="invisible btn btn-success">
        <i class="fas fa-plus-square text"></i>
      </a>
      <span>{{ column }}</span>
      <a
        (click)="createNewCard(column)"
        class="btn btn-success"
        [ngClass]="column === 'ToDo' ? 'visible' : 'invisible'"
      >
        <i class="fas fa-plus-square text"></i>
      </a>
    </div>
  </div>
  <div *ngFor="let card of cards">
    <app-card *ngIf="card.lista == column" [card]="card"></app-card>
  </div>
</div>
