<div class="card card-flyer m-2">
  <div
    class="
      card-header
      align-items-center
      text-center
      d-flex
      justify-content-between
      bg-secondary
      text-light
    "
  >
    <a class="btn text-light disabled"> ID </a>
    <span>{{ card.titulo }}</span>
    <a class="btn btn-primary" [ngClass]="editMode ? 'invisible' : 'visible'">
      <i (click)='toggleEditMode()' class="fas fa-edit"></i>
    </a>
  </div>
  <div class="card-body">
    <p class="card-text">{{ card.conteudo }}</p>
  </div>
  <div class="card-footer d-flex justify-content-between bg-secondary" [ngClass]="editMode ? 'd-none' : 'd-flex'">
    <a class="btn btn-secondary" [ngClass]="isFirst ? 'invisible' : 'visible'">
      <i class="fas fa-arrow-alt-circle-left"></i>
    </a>
    <a class="btn btn-danger">
      <i class="fas fa-trash-alt"></i>
    </a>
    <a class="btn btn-secondary" [ngClass]="isLast ? 'invisible' : 'visible'">
      <i class="fas fa-arrow-alt-circle-right"></i>
    </a>
  </div>
  <div class="card-footer d-flex justify-content-between bg-secondary" [ngClass]="editMode ? 'd-flex' : 'd-none'">
    <a class="btn btn-danger">
      <i (click)='toggleEditMode()' class="fas fa-ban"></i>
    </a>
    <a class="btn btn-success">
      <i class="fas fa-save"></i>
    </a>
  </div>
</div>
