<div class="card m-2">
  <div
    class="
      card-header
      align-items-center
      text-center
      d-flex
      justify-content-between
      bg-secondary
      text-light
    "
  >

    <a href="#" class="btn text-light disabled">
      ID
    </a>
    <span>Title</span>
    <a href="#" class="btn btn-primary">
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <div class="card-body">
    <p class="card-text">Description</p>
  </div>
  <div class="card-footer d-flex justify-content-between bg-secondary">
    <a href="#" class="btn btn-secondary">
      <i class="fas fa-arrow-alt-circle-left"></i>
    </a>
    <a href="#" class="btn btn-danger">
      <i class="fas fa-trash-alt"></i>
    </a>
    <a href="#" class="btn btn-secondary">
      <i class="fas fa-arrow-alt-circle-right"></i>
    </a>
  </div>
</div>
